@model Product
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<div class="col-sm-12 col-md-4 my-3">
    <div class="card" style="width: 18rem;">
        <img src="@Model?.ImageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="card-text">
                <div class="text-navy text-center lead p- rounded-2">
                    @Model.Price.ToString("c")
                </div>
            </div>
            <h5 class="card-title">@Model.ProductName</h5>
            <p class="card-text">
               @Model?.Summary
            </p>

            <div class="d-flex">
                <a asp-controller="Product" asp-action="Get" asp-route-id="@Model.ProductId" class="btn me-2 tooltip1-btn"
                    style="background-color:#ffea00; color:black; border:none;">
                    <i class="fa-solid fa-arrow-right"></i>
                    
                </a>


                <form id="@Model.ProductId" asp-page="/cart" method="post">
                    <input type="hidden" asp-for="ProductId" />
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <button type="submit" class="btn btn-primary tooltip-btn" style="border:none;">
                        <i class="fa fa-cart-plus"></i>
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>